html, body, div, span, h1, form, label, section, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  color: #333;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
}

.container {
  width: 100%;
  max-width: 20rem;
  margin: auto;
  flex: 1 1 100%;
  background-color: #fff;
  padding: 1rem;
}

@media screen and (min-width: 26rem) {
  .container {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}

header {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  padding-top: 6.5px;
  text-align: center;
  margin: 0 auto 13.5px;
  width: 100%;
  max-width: 20rem;
}

form {
  width: 100%;
  max-width: 15rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

label {
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
}

.wrapper {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
}

input, button, select {
  width: 100%;
  height: 100%;
  padding: 5px 0.5rem;
  max-width: 20rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  margin-top: 1rem;
  background-color: #29506D;
  color: #fff;
  border: 0 none;
  text-transform: uppercase;
  padding: 13px 1rem;
  font-weight: 700;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.notification {
  background-color: #CDE4F5;
  border: 1px solid #84B0D2;
  color: #29506D;
  padding: 5px 1rem;
  margin: 0 auto 15px;
  max-width: 13rem;
}

.error {
  background-color: #FFD4D3;
  border: 1px solid #FFAFAD;
  color: #D46D6A;
}

.inline-error {
  color: #D46D6A;
}

button:disabled {
  background-color: #aaa;
}

button:hover {
  transition: background-color linear 0.2s;
  background-color: #496D89;
  cursor: pointer;
}

button:disabled:hover {
  background-color: #aaa;
  cursor: default;
}

